mail-list.erpslick.com {
     # Handle resend-service routes - strip the /resend-service prefix
    handle_path /resend-service/* {
        reverse_proxy resend-service:4000
    }
    reverse_proxy app:9000
}
